body {
  width: calc(400px + 10px);
  height: calc(400px + 10px);
  flex-direction: column;
}

button {
  margin: 0px;
  width: 70px;
  height: 30px;
}

dialog {
  height: 200px;
  width: 95px;
  /* display: flex; */
  /* flex-direction: column; */
}

dialog button {
  margin: 10px;
}

select {
  width: 126px;
  background-color: #ffffff;
}
select.input-required {
  background-color: #ffd1bf;
}
tbody select {
  border: 0px;
  width: 60px;
}

tbody tr.selected-record select {
  background: #dbdbff;
}

input {
  border: 0px;
  width: 117px;
  text-align: left;
}

input.selected-input {
  background: #dbdbff;
}

input.input-required {
  background-color: #ffd1bf;
}
div.input-block__outer {
  width: initial;
}

div.input__title {
  width: 80px;
}

input#bolster__input {
  border: 1px solid #0000ff;
  width: 120px;
}

tbody tr.selected-record {
  background-color: #dbdbff;
}

/* Page Layout */
.main__wrapper {
  height: 375px;
}

.table__wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__wrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Table */
/* =============== plan aging table =============== */
#bolster__table td:nth-child(1) {
  width: 30px;
}
#bolster__table td:nth-child(2) {
  display: none;
}
#bolster__table td:nth-child(3) {
  width: 120px;
}
#bolster__table td:nth-child(4) {
  /* display: none; */
  width: 60px;
}
#bolster__table td:nth-child(5) {
  width: 60px;
}
#bolster__table td:nth-child(6) {
  width: 60px;
}
#bolster__table tbody td:nth-child(1) {
  text-align: right;
}
#bolster__table tbody td:nth-child(3) {
  text-align: left;
}
#bolster__table tbody td:nth-child(4) {
  text-align: right;
}
#bolster__table tbody td:nth-child(5) {
  text-align: right;
}
#bolster__table tbody td:nth-child(6) {
  text-align: right;
}
#bolster__table thead tr {
  height: 30px;
}
#bolster__table tbody {
  height: 200px;
}
#bolster__table tbody tr {
  height: 23px;
}
