body>div {
    width: 100%;
}

/* ============== Page Layout ============== */
.buttom__wrapper {
    height: calc(598px - 31px - 50px - 100px);
    display: flex;
    flex-direction: row;
}

#etching__date {
    width: 130px;
}

#data__table tbody {
    height: 500px;
    width: 330px;
}

#data__table td,
#data__table th {
    font-size: 10pt;
}

#data__table th:nth-child(2),
#data__table td:nth-child(2){
    display: none;
}

#data__table th:nth-child(1),
#data__table td:nth-child(1),
#data__table th:nth-child(3),
#data__table td:nth-child(3),
#data__table th:nth-child(4),
#data__table td:nth-child(4),
#data__table th:nth-child(5),
#data__table td:nth-child(5),
#data__table th:nth-child(6),
#data__table td:nth-child(6),
#data__table th:nth-child(7),
#data__table td:nth-child(7),
#data__table th:nth-child(8),
#data__table td:nth-child(8),
#data__table th:nth-child(9),
#data__table td:nth-child(9),
#data__table th:nth-child(10),
#data__table td:nth-child(10),
#data__table th:nth-child(11),
#data__table td:nth-child(11),
#data__table th:nth-child(12),
#data__table td:nth-child(12) {
    width: 25px;
}

#data__table td select {
    width: 100%;
    border: 0;
    font-size: 10pt;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#data__table #selected__tr input {
    background-color: #d6d283;
}

#sum_code__table td,
#sum_code__table th {
    font-size: 10pt;
    border: solid 1px blue;
}

#sum_code__table td {
    background-color: white;
    color: black;
}

#sum_code__table th:nth-child(1),
#sum_code__table td:nth-child(1),
#sum_code__table th:nth-child(2),
#sum_code__table td:nth-child(2),
#sum_code__table th:nth-child(3),
#sum_code__table td:nth-child(3) {
    width: 55px;
}

#summary_table tbody {
    height: 540px;
    width: 325px;
}

#summary_table td,
#summary_table th {
    font-size: 10pt;
}

#summary_table th:nth-child(1),
#summary_table td:nth-child(1){
    display: none;
}

#summary_table th:nth-child(2),
#summary_table td:nth-child(2) {
    width: 60px;
}

#summary_table th:nth-child(3),
#summary_table td:nth-child(3) {
    display: none;
}

#summary_table th:nth-child(4),
#summary_table td:nth-child(4) {
    width: 115px;
}

#summary_table th:nth-child(5),
#summary_table td:nth-child(5) {
    width: 25px;
    text-align: center;
}

#summary_table th:nth-child(6),
#summary_table td:nth-child(6) {
    width: 20px;
}

#summary_table th:nth-child(7),
#summary_table td:nth-child(7) {
    width: 35px;
}
#summary_table th:nth-child(8),
#summary_table td:nth-child(8) {
    width: 35px;
}
/* ===================== button area  ========================== */

.button__area {
    display: flex;
}

.button__area button {
    margin: 5px;
}


/* ===================== ng table  ========================== */

#ng__table tbody {
    height: 160px;
    width: 300px;
}

#ng__table td,
#ng__table th {
    font-size: 12pt;
}

#ng__table th:nth-child(1),
#ng__table td:nth-child(1) {
    display: none;
}

#ng__table th:nth-child(2),
#ng__table td:nth-child(2) {
    display: none;
}

#ng__table th:nth-child(3),
#ng__table td:nth-child(3) {
    width: 117px;
}

#ng__table td:nth-child(3) select {
    width: 100%;
    font-size: 12pt;
    border: 0;
    /* background-color: khaki; */
}

#ng__table th:nth-child(4),
#ng__table td:nth-child(4) {
    width: 90px;
}

#ng__table td:nth-child(4) {
    text-align: right;
    padding: 0;
}

#ng__table td:nth-child(4) select {
    width: 100%;
    font-size: 12pt;
    border: 0;
    /* background-color: khaki; */
}

#ng__table th:nth-child(5),
#ng__table td:nth-child(5) {
    width: 60px;
}

#ng__table td:nth-child(5) {
    text-align: right;
}

button {
    height: 25px;
}

#ng__table td:nth-child(4) input,
#ng__table td:nth-child(5) input {
    width: 100%;
    border: 0;
    font-size: 12pt;
}

#ng__table input {
    cursor: pointer;
}

#ng__table input.selected-input {
    background-color: #d6d283;
    cursor: initial;
}

#ng__table select.selected-select {
    background-color: #d6d283;
    cursor: initial;
}

#ng__table #ng-table__footer {
    height: 50px;
    overflow-y: unset;
}

#ng__table #ng-table__footer tr td {
    border: 0;
}

#ng__table #ng-table__footer tr:nth-child(1) td {
    border-top: gray solid 1px;
}

#data__table #table_headder {
    font-size: 8pt;
}
#file-upload__input {
    display: none;
}
#file-upload__input + label {
background-color: white;
display: inline-block;
cursor: pointer;
border: solid 1px #0000ff;
width: 134px;
height: 20px;
}
.input__title {
    width: 100%;
    margin-top: 5px;
}
#preview__button {
    margin-top: 0;
}