.button__wrapper button {
  height: 30px;
  margin: 0;
}

input {
  text-align: left;
}
/* --------- main wrapper ---------  */

.main__wrapper {
  padding-top: 15px;
  flex-direction: row;
  height: 50px;
  align-content: space-around;
  justify-content: space-around;
}

/* select */

.main__wrapper select {
  border-width: 1px 1px 1px 0;
}

/* production number */
#production_number__group{
  width: 350px;
}
#production_number__title {
  width: 120px;
}
#production_number {
  width: 80px;
}
#production_number__select{
  width: 150px;
}

#export_at__group{
  width: 185px;
}
#export_at__title {
  width: 55px;
}
#export_at {
  width: 130px;
}

#quantity__group{
  width: 80px;
}
#quantity__title {
  width: 30px;
}
#quantity {
  width: 50px;
}

#note__group{
  width: 140px;
}
#note__title {
  width: 30px;
}
#note {
  width: 110px;
}

/* ======================        button area       ======================= */

#remain__button {
  width: 120px;
  padding-left: 10px;
}

/* ----------button block ============== */
.button__block {
  position: relative;
}
#icon {
  width: 24px;
  position: absolute;
  top: 3px;
  left: 2px;
}
/* --------- button wrapper ---------  */

.button__wrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* --------- summary wrapper ---------  */

.summary__wrapper {
  height: calc(598px - 165px);
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
}

/* ======================        summary-table       ======================= */
#summary__table__remain tbody {
  height: 400px;
  border-left: 1px dotted #0000ff;
}

#summary__table tbody {
  height: 400px;
}

#summary__table th:nth-child(1),
#summary__table td:nth-child(1),
#summary__table th:nth-child(2),
#summary__table td:nth-child(2) {
  display: none;
}

#summary__table th:nth-child(3),
#summary__table td:nth-child(3) {
  width: 120px;
}

#summary__table td:nth-child(3) {
  text-align: left;
}

#summary__table th:nth-child(4),
#summary__table td:nth-child(4) {
  width: 90px;
}

#summary__table td:nth-child(4) {
  text-align: left;
}

#summary__table th:nth-child(5),
#summary__table td:nth-child(5) {
  width: 40px;
}

#summary__table td:nth-child(5) {
  text-align: center;
}

#summary__table__remain th:nth-child(1),
#summary__table__remain td:nth-child(1){
  display: none;
}

#summary__table__remain th:nth-child(2),
#summary__table__remain td:nth-child(2) {
  width: 120px;
}

#summary__table td:nth-child(2) {
  text-align: left;
}

#summary__table__remain th:nth-child(3),
#summary__table__remain td:nth-child(3) {
  width: 90px;
}

#summary__table__remain td:nth-child(3) {
  text-align: left;
}

#summary__table__remain th:nth-child(4),
#summary__table__remain td:nth-child(4) {
  width: 90px;
}

#summary__table__remain td:nth-child(4) {
  text-align: left;
}

#summary__table__remain th:nth-child(5),
#summary__table__remain td:nth-child(5),
#summary__table__remain th:nth-child(6),
#summary__table__remain td:nth-child(6),
#summary__table__remain th:nth-child(7),
#summary__table__remain td:nth-child(7) {
  width: 50px;
}

#summary__table__remain td:nth-child(5),
#summary__table__remain td:nth-child(6),
#summary__table__remain td:nth-child(7) {
  text-align: center;
}

