.main__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
}

.upper__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 60%;
    width: 100%;
}

.lower__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 40%;
    width: 100%;
}

.left__wrapper {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 100%;
    align-items: center;
}

.right__wrapper {
    width: calc(798px - 620px);
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#button__area {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
    padding-top: 30px;
    justify-content: space-around   ;
}

tbody tr.selected-record {
    background-color: #20b9ff;
}

input {
    width: 40px;
    height: 20px;
    border: 1px solid #0000ff;
    padding: 0px 2px;
    text-align: left;
}

button {
    width: 50px;
    height: 22px;
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #0000ff;
    border: none;
    font-size: 9pt;
    font-weight: bold;
}

.input-block__outer {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* +++++++++++++++  summary table ++++++++++++++ */

#summary__table {
    width: 515px;
}

#summary__table tbody {
    height: 340px;
}

#summary__table th:nth-child(1),
#summary__table td:nth-child(1),
#summary__table th:nth-child(2),
#summary__table td:nth-child(2) {
    display: none;
}

#summary__table th:nth-child(3),
#summary__table td:nth-child(3) {
    width: 90px;
}

#summary__table td:nth-child(3) {
    text-align: left;
}

#summary__table th:nth-child(4),
#summary__table td:nth-child(4) {
    display: none;
}

#summary__table th:nth-child(5),
#summary__table td:nth-child(5) {
    width: 90px;
}

#summary__table td:nth-child(5) {
    text-align: left;
}

#summary__table th:nth-child(6),
#summary__table td:nth-child(6),
#summary__table th:nth-child(7),
#summary__table td:nth-child(7) {
    width: 85px;
}

#summary__table td:nth-child(6),
#summary__table td:nth-child(7) {
    text-align: left;
}

#summary__table th:nth-child(8),
#summary__table td:nth-child(8) {
    width: 70px;
}

#summary__table td:nth-child(8) {
    text-align: left;
}

#summary__table th:nth-child(9),
#summary__table td:nth-child(9),
#summary__table th:nth-child(11),
#summary__table td:nth-child(11) {
    display: none;
}

#summary__table th:nth-child(10),
#summary__table td:nth-child(10),
#summary__table th:nth-child(12),
#summary__table td:nth-child(12) {
    width: 25px;
}

#summary__table td:nth-child(12) {
    text-align: center;
}

.title {
    width: 100%;
    height: 20px;
    border: solid 1px #0000ff;
    background-color: #0000ff;
    color: white;
}

#ins_line,
#ins_machine,
#ins_work {
    width: 50%;
    height: 20px;
}

#duration {
    width: 30px;
    height: 20px;
}

#maintenance_start {
    width: 100%;
    height: 20px;
    background-origin: solid 1px #0000ff;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

#right,
#left {
    width: 100%;
    margin-right: 5px;
}

#file {
    width: 250px;
    height: 20px;
    padding: 0;
}

#note {
    width: 250px;
    height: 50px;
    padding: 0;
    text-align: left;
}

#line,
#machine,
#work,
select {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    margin-right: 5px;
}

#line,
#machine,
#work {
    height: 100px;
}

#line tbody,
#machine tbody,
#work tbody {
    width: 120px;
    height: 150px;
}

#work tbody {
    width: 150px;
}

#line th,
#machine th,
#work th {
    padding: 0;
}

#line tr th:nth-child(1),
#line tr td:nth-child(1),
#machine tr th:nth-child(1),
#machine tr td:nth-child(1),
#work tr th:nth-child(1),
#work tr td:nth-child(1) {
    display: none;
}

#line tr th:nth-child(2),
#line tr td:nth-child(2),
#machine tr th:nth-child(2),
#machine tr td:nth-child(2),
#work tr th:nth-child(2),
#work tr td:nth-child(2) {
    width: 100px;
}

#work tr th:nth-child(2),
#work tr td:nth-child(2) {
    width: 90px;
}

#work tr th:nth-child(3),
#work tr td:nth-child(3) {
    width: 40px;
}

#work tr input {
    border: 0px solid #ffffff;
    width: 40px;
}

object {
    width: auto;
    height: 150px;
    transform-origin: bottom;
}