@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 3s infinite;
}

body {
  width: 1200px;
  height: 700px;
}
input {
  width: calc(100% - 2px);
  padding: 0;
}
select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-weight: initial;
  height: 25px;
}
select option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
th {
  font-weight: normal;
}
dialog {
  width: 250px;
  height: 250px;
  border: solid;
  border-color: red;
  border-width: 5px;
  /* display: flex; */
  /* flex-direction: column; */
}
dialog > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#dialog_title__wrapper {
  width: 180px;
  height: 30px;
  background-color: red;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}
#dialog_title__wrapper > div {
  color: white;
  font-size: 14pt;
  font-weight: bold;
}
#dialog_input__title {
  /* border: 1px 1px 0px 1px solid #0000ff; */
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: #0000ff;
  height: 25px;
  background-color: #0000ff;
  color: white;
  text-align: center;
}
dialog input {
  width: 110px;
}
dialog button {
  width: 90px;
}
.title__wrapper {
  height: 25px;
  width: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #0000ff;
  background-color: #0000ff;
  color: white;
  font-size: 12pt;
  padding: 0px 5px 0px 5px;
}
.unit__wrapper {
  height: 25px;
  width: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}
.display__wrapper {
  height: 25px;
  width: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #0000ff;
  font-size: 12pt;
}
.input__wrapper {
  width: initial;
}
/* body part */
.top__wrapper {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  div.input__wrapper {
    display: flex;
    flex-direction: row;
  }
  #die-number__input {
    width: 100px;
    border-right: none;
  }
  #die-number__select {
    width: 200px;
    height: 27px;
  }
  #die-number__div {
    text-align: right;
    width: 70px;
  }
  #die_size__div {
    width: 100px;
  }
  #production-number__div {
    width: 200px;
  }
  #production-weight__div {
    width: 80px;
  }
  #production-length__div {
    width: 50px;
  }
}
div.middle__wrapper {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  padding-top: 30px;
  input {
    border-width: 0 1px 1px 1px;
    text-align: center;
  }
  select {
    border-width: 0 1px 1px 1px;
  }
  .pre_directive_input__wrapper {
    height: 25px;
    width: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #0000ff;
    font-size: 12pt;
  }
  .directive_input__wrapper {
    margin: 0 10px 0 10px;
  }
  div#press_date {
    width: 140px;
  }
  div#discard {
    width: 100px;
  }
  #press_type {
    width: 80px;
    option,
    select {
      text-align: center;
      font-family: "ＭＳ ゴシック";
    }
    .pre_directive_input__wrapper {
      div {
        font-family: "ＭＳ ゴシック";
      }
    }
  }
  #ram_speed__div {
    width: 80px;
  }
  #billet_length__div {
    width: 85px;

    input#billet-other__input {
      /* disabled: true; */
    }
    select {
      text-align: center;
    }
  }
  #billet_temp {
    width: 100px;
  }
  #billet_taper {
    width: 100px;
    option {
      text-align: right;
    }
  }
  #billet_size__div {
    width: 100px;
    option {
      text-align: right;
    }
  }
  #billet_qty {
    width: 100px;
  }
  #die_temp {
    width: 100px;
  }
  #die_heattime {
    width: 100px;
  }

  #stretch {
    width: 100px;
  }

  #person_in_charge {
    width: 200px;
    option {
      text-align: left;
    }
  }

  #profile_length {
    width: 80px;
  }

  #profile_cut {
    width: 90px;
    option {
      text-align: center;
    }
  }

  #machine_number {
    width: 100px;
    option {
      text-align: center;
    }
  }

  #press_note {
    width: 200px;
    textarea {
      width: calc(100% - 2px);
      height: 50px;
      padding: 0;
      border-width: 0 1px 1px 1px;
      border-color: #0000ff;
    }
    .pre_directive_input__wrapper {
      text-align: left;
    }
  }
  table#profile-length__table {
    div#die_hole_number__div {
      display: inline;
    }
    div#last-press-comment__div {
      display: inline;
      color: red;
      font-weight: bold;
    }
    td,
    th {
      height: 25px;
    }
    td {
      border-color: #0000ff;
    }
    /* th:nth-child(1) {
      width: 297px;
    } */
    td:nth-child(1),
    td:nth-child(2) {
      width: 160px;
    }
    tr#profile_quantity__tr td {
      text-align: center;
    }
    input {
      border-width: 0;
      width: 100%;
    }
    thead {
      width: 300px;
      tr:nth-child(1) th {
        border-width: 1px 0 1px 0;
      }
    }
    tbody {
      width: 300px;
      height: 88px;
      overflow-y: hidden;
      tr:nth-child(1) td {
        text-align: right;
      }
    }
  }
  div.button__wrapper {
    display: flex;
    width: 500px;
    justify-content: space-between;
  }
}

div#cooling-time {
  width: 100px;
  select {
    text-align: center;
  }
  option {
    text-align: center;
  }
}

img#cutting_img {
  width: 700px;
}

div.bottom__wrapper {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;

  table#summary__table {
    tbody {
      width: 1100px;
      height: 150px;
    }
    th {
      height: 24px;
    }

    th:nth-child(1),
    td:nth-child(1) {
      display: none;
    }
    /* Press Date */
    th:nth-child(2),
    td:nth-child(2) {
      width: 110px;
    }

    /* Discard */
    th:nth-child(3),
    td:nth-child(3) {
      width: 50px;
    }
    /* Press type */
    th:nth-child(4),
    td:nth-child(4) {
      width: 50px;
    }
    /* Press type ID */
    th:nth-child(5),
    td:nth-child(5) {
      display: none;
    }
    /* speed */
    th:nth-child(6),
    td:nth-child(6) {
      width: 60px;
    }
    /* B-length */
    th:nth-child(7),
    td:nth-child(7) {
      width: 60px;
    }
    /* B-temp */
    th:nth-child(8),
    td:nth-child(8) {
      width: 60px;
    }
    /* B-taper */
    th:nth-child(9),
    td:nth-child(9) {
      width: 60px;
    }
    /* die temp */
    th:nth-child(10),
    td:nth-child(10) {
      width: 70px;
    }
    /* die heat time */
    th:nth-child(11),
    td:nth-child(11) {
      width: 70px;
    }
    /* bolster */
    th:nth-child(12),
    td:nth-child(12) {
      width: 110px;
      display: none;
    }
    /* bolster id*/
    th:nth-child(13),
    td:nth-child(13) {
      width: 110px;
      display: none;
    }
    /* stretch */
    th:nth-child(14),
    td:nth-child(14) {
      width: 60px;
    }
    /* Name */
    th:nth-child(15),
    td:nth-child(15) {
      width: 200px;
    }
    /* Name ID */
    th:nth-child(16),
    td:nth-child(16) {
      /* width: 200px; */
      display: none;
    }
    /* l */
    th:nth-child(17),
    td:nth-child(17) {
      width: 60px;
    }
    /* m */
    th:nth-child(18),
    td:nth-child(18) {
      width: 60px;
    }
    /* n */
    th:nth-child(19),
    td:nth-child(19) {
      width: 60px;
    }
    td:nth-child(3),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8),
    td:nth-child(9),
    td:nth-child(10),
    td:nth-child(11),
    td:nth-child(14),
    td:nth-child(17),
    td:nth-child(18),
    td:nth-child(19) {
      text-align: right;
    }
    td:nth-child(2),
    td:nth-child(4) {
      text-align: center;
    }
  }
}
