body {
  margin: 4px;
  border: solid 1px #0000cc;
  display: flex;
  flex-direction: column;
  height: calc(600px - 2px);
  width: calc(910px - 2px);
}
.add-record {
  background-color: aqua;
}
#export_date,
#export_start_date,
#export_end_date {
  width: 100px;
}
#save__button {
  margin: 0px;
  height: 20px;
  width: 50px;
}
.quantity {
  background-color: aqua;
}
.summary__wrapper {
  height: calc(598px - 2px);
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
}
#production_number tbody {
  height: 550px;
  width: 160px;
  overflow: auto;
}
#production_number th:nth-child(1),
#production_number td:nth-child(1) {
  display: none;
}
#production_number th:nth-child(2),
#production_number td:nth-child(2) {
  width: 140px;
}
#add__table tbody {
  height: 340px;
  width: 245px;
  overflow: auto;
}
#add__table th:nth-child(1),
#add__table td:nth-child(1) {
  display: none;
}
#add__table th:nth-child(2),
#add__table td:nth-child(2) {
  width: 100px;
}
#add__table th:nth-child(3),
#add__table td:nth-child(3) {
  width: 35px;
}
#add__table th:nth-child(4),
#add__table td:nth-child(4) {
  width: 53px;
}
#add__table td:nth-child(4) input {
  width: 50px;
  text-align: left;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
#add__table th:nth-child(5),
#add__table td:nth-child(5) {
  width: 20px;
}
#add__table td:nth-child(5) button {
  width: 20px;
  text-align: left;
  border: 0;
  padding: 0;
  margin: 0;
}
#add__table th:nth-child(6),
#add__table td:nth-child(6) {
  width: 30px;
}
#add__table td:nth-child(6) input {
  width: 26px;
  text-align: left;
  border: none;
}
#add__table th:nth-child(7),
#add__table td:nth-child(7) {
  width: 70px;
}
#add__table td:nth-child(7) input {
  width: 68px;
  text-align: left;
  border: none;
}

#summary__table tbody {
  height: 500px;
  width: 380px;
  overflow: auto;
}
#summary__table th:nth-child(1),
#summary__table td:nth-child(1) {
  display: none;
}
#summary__table th:nth-child(2),
#summary__table td:nth-child(2) {
  width: 55px;
}
#summary__table th:nth-child(3),
#summary__table td:nth-child(3) {
  width: 40px;
}
#summary__table th:nth-child(4),
#summary__table td:nth-child(4) {
  width: 40px;
}
#summary__table th:nth-child(5),
#summary__table td:nth-child(5) {
  width: 25px;
}
#summary__table th:nth-child(6),
#summary__table td:nth-child(6) {
  width: 50px;
}
#summary__table th:nth-child(7),
#summary__table td:nth-child(7) {
  width: 40px;
}
#summary__table th:nth-child(8),
#summary__table td:nth-child(8) {
  width: 30px;
}
#summary__table th:nth-child(9),
#summary__table td:nth-child(9) {
  width: 60px;
}
.class1 {
  display: inline-block;
  align-items:center;
}
.input1 {
  display: inline-block;
  width: 200px;
  padding-left: 20px;
}
button {
  width:90px;
  height:20px;
}
#stock_table tbody {
  height: 155px;
  overflow: auto;
}
#stock_table th:nth-child(1),
#stock_table td:nth-child(1) {
  width: 110px;
}
#stock_table th:nth-child(2),
#stock_table td:nth-child(2) {
  width: 50px;
}
#stock_table th:nth-child(3),
#stock_table td:nth-child(3) {
  width: 80px;
}
.update-sel {
  background-color: #e4f500;
}
#production_number_input {
  width: 96%;
}